<div class="panel panel-info" >
<div class="panel-heading"><b>Blog Post Form</b> </div>
<div class="panel-body">
<form>
<table>
<tr>
<td>Enter Blog Title</td>
<td><input type="text" ng-model="blog.blogTitle" class="form-control" placeholder="Blog Title"></td>
</tr>
<tr>
<br>
<td>Enter blog content</td>
<td><textarea ng-model="blog.blogContent" class="form-control" placeholder="Blog Content"></textarea></td>
</tr>
<tr>
<td>
<button ng-click="addBlogPost(blog)">Add Blog</button>
</td>
</tr>
</table>



</form>
</div>
</div>